<h1 class="header">URL Shorten Application</h1> 
  <div class="form_div">
   <%=form_tag(links_create_path, method: :post) do  %>
 <div class="main-divv"> 
          <%= text_field_tag :url ,"", :class => "form-control"%> 
          <div class = "submit_div">
            <%= submit_tag "Short", :class => "btn btn-primary", :style => "width:120px;height:60px;"%>
          </div>
       </div> 
<%end%>
 </div> 
