<h1 class="header">URL Shorten Application</h1>
<center>
  <div class="form_div">
   <form action = "links/create", method ="post">
      <div class="main-divv"> 
          <%= text_field_tag :url ,""%> 
          <%= submit_tag "Short",:class => "btn btn-primary"%>
       </div> 
  </form>
 </div>
</center>
