
<center>
  <h2>Your original url is: <%=@original_url %></h2>
  <h2>Your shortened url is: <%=@shorten_url %></h2>
  <div class='return_button'>
    <%= link_to "New shorten", home_path , :class => 'btn btn-primary', :style => 'width:120px;height:60px;padding-top:15px;' %>
  </div>
<center>