/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope. 
 */

 @import "bootstrap";

h1 {
	text-align: center;
  	margin-top: 12%;
  	font-family: fantasy;
}

h2 {
	font-family: fantasy;
	margin-top: 5%;

}

.form_div {
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
}

.return_button {
	margin-top: 5%;
}
.form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
}
.submit_div{
	margin-top: 10%;
	margin-left: 43%;
}